.btn-primary {
  background: #313461;
  border: #313461;
}

.jumbotron {
  background: #333 url('../img/bg.jpg');
  color: #000;
  text-align: center;
  border-bottom: 5px #f4f4f4 solid;
}

.jumbotron {
  padding: 0 60px 40px 60px;
}

.jumbotron-main h1{
  margin-top: 60px;
  margin-top: 30px;
}

.jumbotron p.lead {
  font-size: 25px;
  margin-bottom: 60px;
}

.jumbotron-sub {

}

.navbar {
  margin: 0;
  color: #000;
}

.navbar a {
  color: #000;
  margin-bottom: 3px;
}

.navbar a:hover{
  background: none !important;
  border-bottom: #000 3px solid;
  margin-bottom: 0px;
}

.pull-left{
    margin-left: 0;
    margin-bottom: 25px;
}

.box{
  text-align: center;;
}

.box .glyphicon{
  font-size: 25px;
}

.section-a{
  background: #313461;
  color: #fff;
  text-align: center;
  padding: 50px;
  margin-bottom: 30px;
}

.section-a h1{
  font-size: 50px;
}

.img-full {
  width: 100%;
}

.main-footer{
  padding: 50px;
  background: #f5f5f5;
}

.list-unstyled {
  margin-top: 25px;
}
